<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My Website{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/base.css') }}"
        />
        {% block extra_css %}{% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- Header với logo và navbar -->
        <header>
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img
                        src="https://lms.hcmut.edu.vn/pluginfile.php/3/theme_academi/logo/1743086606/logoBK.png"
                        alt="C2C Marketplace Logo"
                    />
                </a>
            </div>

            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Trang Chủ</a></li>
                    <li>
                        <a href="{{ url_for('cart') }}"
                            ><img
                                src="../static/images/cart.png"
                                alt="Giỏ hàng"
                        /></a>
                    </li>
                    <li>
                        <a href="{{ url_for('shop_manager') }}">Bán Hàng</a>
                    </li>
                    <li><a href="{{ url_for('login') }}">Đăng Nhập</a></li>

                    <li><a href="{{ url_for('signup') }}">Đăng Ký</a></li>
                    <li><a href="#!">Đăng xuất</a></li>
                    <li>
                        <a href="{{ url_for('info_user') }}"
                            >Thông tin cá nhân</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <main class="contain">{% block content %}{% endblock %}</main>

        <!-- Footer -->
        <footer>
            <p>&copy; 2025 C2C Marketplace. All rights reserved.</p>
        </footer>
    </body>
</html>
