{% extends "base.html" %} {% block title %}Trang Chủ{% endblock %} {% block
extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/home.css') }}"
/>
{% endblock %} {% block content %}

<!-- <p>Nguyen Thanh Trinh</p> -->
<!-- Banner chính -->
<section class="banner"></section>

<section class="products">
    <div class="product-list">
        {% for product in products %}
        <div class="product-item">
            <img src="../static/images/siunhan.jpg" alt="" />
            <h3>{{ product.name }}</h3>
            <p>Giá: {{ product.price }} VNĐ</p>
            <a href="product" class="buy-button">Xem Chi Tiết</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
