{% extends "base.html" %} {% block title %}Trang Chủ{% endblock %} {% block
extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/home.css') }}"
/>
{% endblock %} {% block content %}

<!-- Banner chính -->
<section class="banner">
    <div class="banner-content">
        <h1>Chào Mừng Đến Với C2C Marketplace</h1>
        <p>Mua sắm và bán hàng dễ dàng từ người dùng khác!</p>
        <a href="#" class="banner-button">Khám Phá Ngay</a>
    </div>
</section>

<section class="products">
    <div class="product-list">
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
        <div class="product-item">
            <img src="../static/images/product.jpg" alt="Sản phẩm 1" />
            <h3>Áo Thun Cũ</h3>
            <p>Giá: 50.000 VNĐ</p>
            <a href="#" class="buy-button">Xem Chi Tiết</a>
        </div>
    </div>
</section>
{% endblock %}
