{% extends "base.html" %} {% block title %}Hồ sơ cá nhân{% endblock %} {% block
extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/info_user.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <!-- Main Content -->
    <div class="main-content">
        <h2>Hồ sơ của tôi</h2>
        <p>Quản lý thông tin hồ sơ</p>
        <form>
            <div>
                <label>Họ và tên đệm</label>
                <input type="text" value="Nguyễn Thành" disabled />
            </div>
            <div>
                <label>Tên</label>
                <input type="text" value="Trình" disabled />
            </div>
            <div>
                <label>Email</label>
                <div class="flex">
                    <span>trinh020705@gmail.com</span>
                </div>
            </div>
            <div>
                <label>Số điện thoại</label>
                <div class="flex">
                    <span>0934889287</span>
                </div>
            </div>
            <div>
                <label>Ngày sinh</label>
                <div class="flex">
                    <span>02/07/2005</span>
                </div>
            </div>
        </form>
    </div>

    <div class="address_user">
        <div class="header">
            <h1>Địa chỉ của tôi</h1>
            <button>+ Thêm địa chỉ mới</button>
        </div>
        <div class="address-list">
            <h2>Địa chỉ</h2>
            <div class="address-item">
                <div class="info">
                    <h3>Nguyễn Thành Trinh</h3>
                    <p>(+84) 934 889 287</p>
                    <p>Chung Cư The East Gate, Số 43, Tân Lập</p>
                    <p>Phường Đông Hòa, Thành Phố Dĩ An, Bình Dương</p>
                </div>
                <div class="edit">
                    <span class="default-badge">Mặc định</span>

                    <div class="actions">
                        <a href="#">Xóa</a>
                        <button>Thiết lập mặc định</button>
                    </div>
                </div>
            </div>
            <div class="address-item">
                <div class="info">
                    <h3>Nguyễn Thị Thu Trang</h3>
                    <p>(+84) 982 403 229</p>
                    <p>Số 165, Đống Đa</p>
                    <p>Phường Thị Nại, Thành Phố Quy Nhơn, Bình Định</p>
                </div>
                <div class="edit">
                    <div class="actions">
                        <a href="#">Xóa</a>
                        <button>Thiết lập mặc định</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
